  
# /node_modules/* in the project root is ignored by default
# build artefacts
dist/*
coverage/*
# data definition files
**/*.d.ts
# custom definition files
/server/types/
# test files
integration-test/*
*.test.js